.comment-post {
  margin: 1em 4em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
}
.comment-editor-container {
  display: grid;
  grid-template-columns: 1fr;
}
.comment-post .ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
  font-size: 1em;
}
.comment-post .ql-container.ql-snow {
  border: none;
}
.comment-post .ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
.comment-post .quill {
  border: 1px solid #ccc;
  border-radius: 0.5em;
  background-color: #fff;
}
.comment-post .ql-editor {
  min-height: 10em;
  border-radius: 0.5em;
}

.btn-create {
  color: #fff;
  background-color: #2a9af2;
  border: none;
  padding: 10px;
  border-radius: 0.5em;
  width: 6em;
  font-size: 1.1em;
  font-weight: 400;
  cursor: pointer;
  margin: 15px;
  justify-self: end;
}

.comment-title {
  color: #444;
  font-style: italic;
  font-weight: 700;
}

.comments-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 0 auto;
}
.comments {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin: 5px auto;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  background-color: #fff;
}
.comments .ql-container {
  border: none;
}
.comments .ql-snow.ql-toolbar {
  display: none;
}

.comment-desc {
  border-radius: 0.5em;
  border: 1px solid #ccc;
  border-bottom: none;
}

.comment-desc-container {
  display: grid;
  grid-template-columns: 100px 1fr 130px 50px;
  grid-template-rows: 10px;
  align-items: center;
}

.comment-desc-container figure img {
  border-radius: 50%;
  width: 30px;
}

.comment-desc-container h3 {
  color: #2a9af2;
}

.i-delete-comment{
  color: #7e0707;
  padding: 5px;
  cursor: pointer;
}
