.credentials ul li {
  list-style: none;
  padding: 5px;
}
.credentials i {
  color: darkred;
  padding: 5px;
  cursor: pointer;
}
.grid-credentials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.title-credentials {
  color: #2a9af2;
}

.myposts{
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  width: 80%;
}
.i-edit{
  color: #358332;
}
.i-view{
  color: #444;
}
.i-delete{
  color: darkred;
}
.myposts i{
  padding: 5px;
  cursor: pointer;
}
.grid-myposts {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.myposts ul li {
  list-style: none;
  padding: 5px;
}