.credentials ul li {
  list-style: none;
  padding: 5px;
}
.credentials i {
  color: darkred;
  padding: 5px;
  cursor: pointer;
}
.grid-credentials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.title-credentials {
  color: #2a9af2;
}
