.form {
  width: 400px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 20px 0;
  margin-top: 40px;
  padding-bottom: 40px;
}

label {
  display: block;
  font-size: .9em;
  font-weight: 100;
  text-transform: capitalize;
  color: #333333;
  text-align: center;
  margin-top: 10px;
}

input {
  display: block;
  width: 300px;
  margin: 15px auto;
  border: none;
  border-bottom: 1px solid #757575;
  outline: none;
  width: 300px;
  padding: 5px 0;
  font-size: .9em;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}

input:focus {
  border-bottom: 1px solid #2a9af2;
  box-shadow: 0px 1px 0px 0px #2a9af2;
}
.btn-signup {
  background-color: #2a9af2;
}
.btn-login {
  background-color: green;
}
.btn {
  border: none;
  color: #ffffff;
  border-radius: 3px;
  width: 300px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  padding: 10px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  outline: none;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.invalid {
  color: red;
  font-size: .7em;
  padding: 5px;
}

.invalid-input {
  border-bottom: 1px solid red;
  box-shadow: 0px 1px 0px 0px red;
}
