.landing {
  color: #444;
  text-align: center;
}

.landing h2 {
  font-size: 2.5em;
  font-weight: 900;
}

.landing p {
  font-size: 1.3em;
  font-weight: 300;
  font-style: italic;
 
}
.landing ul li {
  display: inline;
  list-style: none;
  padding: 8px;

}
.landing ul li a {
  text-decoration: none;
  padding: 10px;
  width: 100px;
  border-radius: 15px;
  font-size: 0.8em;
}
.landing ul li:nth-child(1) a {
  background-color: rgb(15, 88, 129);
  color: #fff;
}
.landing ul li:nth-child(2) a {
  background-color: rgb(166, 203, 224);
  color: #000;
}

.landing img{
  width: 30%;
  padding: 50px;
}
